

.all-items{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 12px;
  align-items: center;
  margin-top: 20px;
  
}
.all-heading img{
  height:50px;
  align-self: center;

}
.all-heading h2{
  font-size: 20px;
  font-weight: 500;
  margin-left: 10px;

}
.all-heading{
  display: flex;
  flex-direction: row;
  
}
.all-balance {
align-items: center;
margin: 0;

}
.euro{
  margin-bottom: 5px;
  margin-left: 60px;
}
.Balance{
  margin-top: 0;
  color: #9a9898;
}
.date-all p{
 margin: 10px 0;
}
.transactions-all-container{
  margin-bottom: 150px;
}