 /* Body Styles */
 body {
  margin: 0;
  font-family: Arial, sans-serif;
  width: 100%;
  height: 300px;
  background-color: #f5f0f028;
 
}



/* Navbar Styles */
nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: flex-end;
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

}

/* Navbar Links */
nav a {
  text-decoration: none;
  color: black;
  padding: 8px 16px;
  margin-right: 50px;
  transition: background-color 0.3s ease, color 0.3s ease, border-radius 0.3s ease;

}

/* Navbar Hover Effect */
nav a:hover {
  background-color: rgb(72, 172, 152);
  color: white;
  border-radius: 4px;
}

/* home page*/
.home-page-container{
  width: 100%;
  margin-top:55px ;
  height: 100%;
  display: flex;
  justify-content: center;
 

}
.heading-home-container{
  width:40%;
  display: flex;
  justify-content: flex-start;

}
.heading-home-container h3{
  font-size: 25px;
  font-weight: 200;
  margin-bottom: 0;
}

.home-account-container{
  flex-direction: column;
  width: 280px;
  height: 104px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(214, 251, 244);
  border-radius: 10px;
  cursor: pointer;
  transition: box-shadow 0.3s ease;

  
}
.home-account-container:hover{
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.account-detail {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 250px;
  align-items: center;
  display: flex;
  


}
.account-detail img{
width: 48px;
}
.account-heading h3{
  margin-bottom: 0;
  display: inline;
  font-size: 18px;
  font-weight: 100;


}
.account-heading{
  width: 86%;
  display: flex;
  justify-content: start;
  
}
.home-adjust{
  width: 80%;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  
}
.account-balance p{
  font-size: 23px;
  font-weight: 600;
  margin: 0;
}

/*search container */
.search-container{
height: 48px;
display: flex;
flex-direction: row;
width: 100%;
align-items: center;
}

.search-bar{
  width:auto;

}
.filter-button{
padding: 12px 16px;
border: none;
border-radius: 5px;
background-color: rgba(203, 213, 213, 0.184);
transition: box-shadow 0.3s ease;
margin-left: 10px;
}
.filter-button:hover{
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.search-button{
  color:rgb(72, 172, 152); 
  font-size: 14px;
  font-weight: 550;
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  background-color: rgba(203, 213, 213, 0.184);
  transition: box-shadow 0.3s ease;
  margin-left: 10px;
}
.search-button:hover{
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.search-items{
width: 100%;
display: flex;
flex-direction: row;
justify-content: space-between;
}
.search-items input{
  width: 100%;
  border: none;
  background-color: rgba(203, 213, 213, 0.184);
  border-radius: 5px ;
  background-image: url('/img/search.png'); 
  background-size: 20px 20px; 
  padding:12px 48px; 
  font-size: 15px;
  height: 24px;


  background-position: 10px center; 
  background-repeat: no-repeat;
  outline-color:rgb(72, 172, 152); 
  transition: box-shadow 0.3s ease;

   
  

}
.search-items input:hover{
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/*add transactions*/
.add-button{
  font-size: 30px;
  font-weight:50px ;
  height: 56px;
  width: 56px;
  border-radius: 50%;
  border-style: none;
  color: white;
  background-color: rgb(72, 172, 152); 
}
.add-button:hover{
  background-color: rgb(72, 172, 152, 0.5);
}

#categoryDropdown{
  background-color: rgba(203, 213, 213, 0.184);
  border-radius: 5px ;
  padding:12px 20px; 
  font-size: 15px;
  border: none;
  outline-color:rgb(72, 172, 152); 

}
.add-transcations{
  width: 100%;
  display: flex;
  flex-direction:row;
  justify-content: space-between;
 
}
.Description-items{
  width:70%;
  display: flex;
  justify-content:center;
  flex-direction: row;

}
.Description {
  width: 78%;
  border: none;
  background-color: rgba(203, 213, 213, 0.184);
  border-radius: 5px 0px 0px 5px ;
  padding:12px 50px; 
  font-size: 15px;
  height: 24px;
  outline-color:rgb(72, 172, 152); 
  margin-left: 5px;
  
  
  

}
.date{
  width:20px;
  padding: 12px;
  border: none;
  background-color: rgba(203, 213, 213, 0.184);
  border-radius: 0px 5px 5px 0px ;
  height: 24px;
  font-size: 15px;
  
  outline-color:rgb(72, 172, 152); 
  
  
  
 
}
.Amount{
  border: none;
  background-color: rgba(203, 213, 213, 0.184);
  width: 100px;
  border-radius: 5px ;
  padding:12px; 
  font-size: 15px;
  height: 24px;
  outline-color:rgb(72, 172, 152);
  margin-left: 5px;
  
  
  
}
.Amount-items{
  width: 40%;
}
.Add-item-button{
  font-size: 12px;
  font-weight:50px ;
  height: 50px;
  
  border-radius: 5px;
  border-style: none;
  color: white;
  background-color: rgb(72, 172, 152); 
  
  align-self: center;
  align-content: center;
  margin-left: 5px;
  cursor: pointer;
}
.Add-item-button:hover{
  background-color: rgb(72, 172, 152, 0.5);
}
/*transactions*/
.transactions-container{
  background-color: white;
  border: 1px solid;
  border-color: rgb(220, 219, 219);
  
  padding: 30px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;



}
.transaction-heading{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
.transaction-heading h3{
  font-weight: 580;
}
.transaction-heading a{
  font-size: 16px;
  color:rgb(72, 172, 152);
  padding: 5px;
  text-decoration: underline;
  

}
.transactions{
  
}
.transaction{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 0.5px solid;
  border-color: rgb(220, 219, 219);
  padding: 12px;
margin-top: 5px;
  border: 1px solid;
  border-radius: 8px;
  border-color: rgb(220, 219, 219);
}
.transaction img{
  width: 50px;
}
.transaction-item{
  width:100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 5px;
  
}